header {
    background-image: url("../img/header.png");
    justify-content: center;
    padding: 2%;
    margin-bottom: 2%;
    padding-bottom: 7em;
}

.navbar {
    background-color: #63b7f1;
    margin: 2%;
    padding: 2em 0;
}

.nav-item {
    color: white;
    text-align: center;
    margin-left: 30px;
}

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Oswald', sans-serif;
}

header img {
    margin: 2%;
    width: 95%;
    height: auto;
}

.imghead {
    background-image: url("../img/fond.png");
    width: 95%;
    height: auto;
    margin: auto;
}

.contnav {
    justify-content: center;
    width: 100%;
}

.contnav li a {
    color: white;
    font-size: 1.5em;
    font-family: 'Abel', sans-serif;
}

.btn a {
    text-decoration: none;
}

.btn {
    background-color: red;
    border-radius: 10%;
    color: white;
}

h2 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 1em;
}

#grid {
    margin: 1em;
}

.imgtt {
    width: 100%;
    height: auto;
}

.papaye {
    background-image: url("../img/fond-article.png");
    margin-left: 2em;
    padding: 2%;
}